<!DOCTYPE html>
<html>

<head>
	<title>Associazioni</title>
	<link rel="stylesheet" href="/stile.css?version=2" />
	
</head>

<body>
		    <div>
		        <a href="/"><img src="/logo-siw.png" width="10%" alt="Logo" /></a>
		    </div>

		    <h1 th:text="${associazione.nome}">Nome Associazione</h1>

		    <p>Nome: <span th:text="${associazione.nome}">Nome Associazione</span></p>
		    <p>Indirizzo: <span th:text="${associazione.indirizzo}">Indirizzo</span></p>
			</p>
			<p>Città: <span th:text="${associazione.citta.nome}">citta</span></p>
		    <p>Email: <span th:text="${associazione.email}">Email</span></p>
		    <p>Telefono: <span th:text="${associazione.telefono}">Telefono</span></p>
		    <p>Partita IVA: <span th:text="${associazione.partitaIVA}">Partita IVA</span></p>
		    <p>Anno di Fondazione: <span th:text="${associazione.annoFondazione}">Anno</span></p>
		    <p>Descrizione:</p>
		    <p th:text="${associazione.descrizione}">Descrizione</p>

		    <div>
		        Immagine:<br />
		        <img th:if="${associazione.immagine != null}"

		              th:src="@{'/image/associazione/' + ${associazione.id}}" alt="Immagine associazione" width="300"/>
		         
		        <p th:if="${associazione.immagine == null}">Nessuna immagine disponibile</p>
		    </div>
			<div><a th:href="@{/admin/associazione/{idA}/sports(idA=${associazione.id})}" > Gestisci sport</a>
			
	<div><a th:href="@{/admin/associazione/{idA}/campi(idA=${associazione.id})}" >Gestisci Campi</a></div>
	<div><a th:href="@{/admin/associazione/{idA}/prenotazioni(idA=${associazione.id})}" >Gestisci prenotazioni</a></div>
	

</body>
</html>





