<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dettagli Campo</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
	  <link rel="stylesheet" th:href="@{/css/navbarStyle.css}" />
</head>
<body>
	<div th:replace="~{fragments/navbar :: navbar}"></div>
<h1 th:text="${campo.nome}">Nome Campo</h1>

<div>
<img th:src="@{'/image/campo/' + ${campo.id}}" alt="Immagine campo" width="300"/>
</div>

<p><strong>Capienza:</strong> <span th:text="${campo.capienza}">0</span></p>
<p><strong>Durata Slot:</strong> <span th:text="${campo.durataSlot}">0</span> minuti</p>
<p><strong>Orario di apertura:</strong> <span th:text="${campo.oraApertura}">--:--</span></p>
<p><strong>Orario di chiusura:</strong> <span th:text="${campo.oraChiusura}">--:--</span></p>

<p><strong>Giorni disponibili:</strong>
<span th:each="giorno : ${campo.giorniDisponibili}" th:text="${giorno} + ' '">Giorno</span>
</p>

<p><strong>Sport:</strong> <span th:text="${campo.sport.nome}">Sport</span></p>
<p><strong>Associazione:</strong> <span th:text="${campo.associazione.nome}">Associazione</span></p>

<a th:href="@{/admin/associazione/{idA}/modifica/campo/{idC}(idA=${campo.associazione.id},idC=${campo.id})}">Modifica</a> |
<a th:href="@{/admin/upload/campo/{idC}(idC=${campo.id})}">Modifica immagine</a> |
<a th:href="@{/}">Torna alla home</a>

</body>
</html>