<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea il Tuo Campo con Sport</title>
</head>
<body>

    <h1>Crea il Tuo Campo</h1>

    <form th:object="${campo}" th:action="@{/admin/associazione/{idA}/registra-campo(idA=${idA})}"
		 th:method="post">
		  <div th:if="${#fields.hasGlobalErrors()}">
		   <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
		  </div>

        <label for="nome">Nome del Campo:</label>
        <input type="text" id="nome" th:field="*{nome}">
		<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>

        <br><br>

        <label for="durataSlot">Durata Slot (minuti):</label>
        <input type="number" id="durataSlot" th:field="*{durataSlot}">
		<span th:if="${#fields.hasErrors('durataSlot')}" th:errors="*{durataSlot}"></span>

        <br><br>

        <label for="capienza">Capienza:</label>
        <input type="number" id="capienza" th:field="*{capienza}">
		<span th:if="${#fields.hasErrors('capienza')}" th:errors="*{capienza}"></span>

        <br><br>

        <label for="oraApertura">Ora di Apertura:</label>
        <input type="time" id="oraApertura" th:field="*{oraApertura}">
		
        <br><br>

        <label for="oraChiusura">Ora di Chiusura:</label>
        <input type="time" id="oraChiusura" th:field="*{oraChiusura}">
        <br><br>

        <label>Giorni Disponibili:</label><br>
        <input type="checkbox" id="lunedi" name="giorniDisponibili" value="MONDAY" th:checked="${campo.giorniDisponibili != null and campo.giorniDisponibili.contains(T(java.time.DayOfWeek).MONDAY)}"> Lunedì<br>
        <input type="checkbox" id="martedi" name="giorniDisponibili" value="TUESDAY" th:checked="${campo.giorniDisponibili != null and campo.giorniDisponibili.contains(T(java.time.DayOfWeek).TUESDAY)}"> Martedì<br>
        <input type="checkbox" id="mercoledi" name="giorniDisponibili" value="WEDNESDAY" th:checked="${campo.giorniDisponibili != null and campo.giorniDisponibili.contains(T(java.time.DayOfWeek).WEDNESDAY)}"> Mercoledì<br>
        <input type="checkbox" id="giovedi" name="giorniDisponibili" value="THURSDAY" th:checked="${campo.giorniDisponibili != null and campo.giorniDisponibili.contains(T(java.time.DayOfWeek).THURSDAY)}"> Giovedì<br>
        <input type="checkbox" id="venerdi" name="giorniDisponibili" value="FRIDAY" th:checked="${campo.giorniDisponibili != null and campo.giorniDisponibili.contains(T(java.time.DayOfWeek).FRIDAY)}"> Venerdì<br>
        <input type="checkbox" id="sabato" name="giorniDisponibili" value="SATURDAY" th:checked="${campo.giorniDisponibili != null and campo.giorniDisponibili.contains(T(java.time.DayOfWeek).SATURDAY)}"> Sabato<br>
        <input type="checkbox" id="domenica" name="giorniDisponibili" value="SUNDAY" th:checked="${campo.giorniDisponibili != null and campo.giorniDisponibili.contains(T(java.time.DayOfWeek).SUNDAY)}"> Domenica<br>
        <br>
		



        <label for="sport-select">Seleziona uno sport:</label>
        <select id="sport-select" th:field="*{sport}">
            <option value="">-- Seleziona uno sport --</option>
            <option th:each="sportIter : ${sports}"
                    th:value="${sportIter.id}"
                    th:text="${sportIter.nome}">Sport Nome</option>
        </select>
        <br><br>

        <button type="submit">Crea Campo</button>
    </form>

</body>
</html>