<!DOCTYPE html>
<html>

<head>
	<title>AsRoma3 - Registrazione conclusa</title>
	<link rel="stylesheet" th:href="@{/css/navbarStyle.css}"/>
	<link rel="stylesheet" th:href="@{/css/tema.css}"/>
</head>

<body>
	<div>
	<div th:replace="~{fragments/navbar :: navbar}"> </div>
	<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
	<div class="card">
	<h1 class="card-title" style="width: 18rem;">Il tuo account</h1>
		
	</div>
	</div>
>
	</div>
	
	
	<a href="/">Vai alla home</a>
</body>