<!DOCTYPE html>
<html>

<head>
	<title>Associazioni</title>
	<link rel="stylesheet" href="/stile.css?version=2" />
</head>

<body>
	<div><a href="/"><img src="/logo-siw.png" width="10%" /></a></div>
	<h1>	<a th:text="${associazione.nome} ">Nome mancante</a></h1>
	<h2>	Lista Sport</h2>
	<div th:if="${sports.isEmpty()}">Non ci sono sport nel sistema per questa associazione</div>
	<ul>
		<li th:each="sport : ${sports}">
			<a th:href="@{associazion/{idA}(idA=${associazione.id}/sport/{idS}(idS=${sport.id})}" th:text="${sport.nome} ">Up!
				(2000)</a>
		</li>
	</ul>
</body>

</html>