<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Dettagli Associazione</title>
</head>

<body>

    <div>
        <a href="/"><img src="/logo-siw.png" width="10%" alt="Logo" /></a>
    </div>

    <h1 th:text="${associazione.nome}">Nome Associazione</h1>

    <p>Nome: <span th:text="${associazione.nome}">Nome Associazione</span></p>
    <p>Indirizzo: <span th:text="${associazione.indirizzo}">Indirizzo</span></p>
    <p>Email: <span th:text="${associazione.email}">Email</span></p>
    <p>Telefono: <span th:text="${associazione.telefono}">Telefono</span></p>
    <p>Partita IVA: <span th:text="${associazione.partitaIVA}">Partita IVA</span></p>
    <p>Anno di Fondazione: <span th:text="${associazione.annoFondazione}">Anno</span></p>
    <p>Descrizione:</p>
    <p th:text="${associazione.descrizione}">Descrizione</p>

    <div>
        Immagine:<br />
        <img th:if="${associazione.immagine != null}"
             th:src="@{${'/associazione/immagine/' + associazione.id}}" 
             alt="Immagine Associazione" width="200" />
        <p th:if="${associazione.immagine == null}">Nessuna immagine disponibile</p>
    </div>

    <p>Lista Sport:</p>
    <div th:if="${associazione.sportList == null or #lists.isEmpty(associazione.sportList)}">
        Non ci sono sport associati a questa associazione.
    </div>
    <ul>
        <li th:each="sport : ${associazione.sportList}">
            <a th:href="@{/associazione/{idA}/sport/{idS}(idA=${associazione.id}, idS=${sport.id})}"
               th:text="${sport.nome}">Nome Sport</a>
        </li>
    </ul>

    

</body>

</html>
