<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Campi - [[${sport.nome}]]</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>

    <h1 th:text="'Sport: ' + ${sport.nome}">Nome Sport</h1>

    <h2>Campi disponibili:</h2>

    <!-- Se la lista è vuota -->
    <p th:if="${#lists.isEmpty(campi)}">❌ Non ci sono campi disponibili per questo sport.</p>

    <!-- Se ci sono campi -->
    <ul th:if="${!#lists.isEmpty(campi)}">
        <li th:each="campo : ${campi}">
            <strong th:text="${campo.nome}">Nome Campo</strong><br/>
            Capienza: <span th:text="${campo.capienza}">Numero</span><br/>
            
			<a th:href="@{/prenota/campo/{idC}(idC=${campo.id})}">
			    Prenota
			</a>
			<a th:href="@{/associazione/{idA}/sport/{idS}/campo/{idC}(idC=${campo.id},idA=${associazione.id},idS=${sport.id})}">
			            Visualizza
			        </a>
            <hr/>
        </li>
    </ul>

</body>
</html>