<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Campi - [[${sport.nome}]]</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>

    <h1 th:text="'Sport: ' + ${sport.nome}">Nome Sport</h1>

    <h2>Campi disponibili:</h2>

    <ul>
        <li th:each="campo : ${campi}">
            <strong th:text="${campo.nome}">Nome Campo</strong><br/>
            Capienza: <span th:text="${campo.capienza}">Numero</span><br/>
            <!-- In futuro: bottone per prenotare -->
			<a th:href="@{/prenota/campo/{idC}(idC=${campo.id})}">
			    Prenota
			</a>

            <hr/>
        </li>
    </ul>


</body>
</html>
