<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Prenota un campo</title>
  <link rel="stylesheet" th:href="@{/stile.css(version=2)}" />
</head>
<body>
  <h1 th:text="'Effettua prenotazione per il campo: ' + ${campo.nome}">Nome mancante</h1>

  <!-- FASE 1: scelta della data -->
  <div th:if="${prenotazione.data == null}">
    <form
      th:action="@{/prenota/campo/{idC}(
        idC=${campo.id}
      )}"
      th:object="${prenotazione}"
      method="post">

      <h3>Seleziona il giorno</h3>
      <label>
        Data:
        <input type="date" th:field="*{data}" />
      </label>
      <button type="submit">Conferma giorno</button>
    </form>
  </div>

  <!-- FASE 2: scelta dell'orario -->
  <div th:if="${prenotazione.data != null}">
    <form
      th:action="@{/prenota/campo/{idC}(
        idC=${campo.id}
     	)}"
      th:object="${prenotazione}"
      method="post">

      <h3>Seleziona l'orario</h3>
	  <ul style="list-style: none; padding: 0;">
	      <li th:each="slot : ${slots}">
			<label>
			    <input type="checkbox" name="orariSelezionati"
			           th:value="${slot.oraInizio} + '-' + ${slot.oraFine}"
			           class="orario-checkbox">
			    <span th:text="${slot.oraInizio} + ' – ' + ${slot.oraFine}"></span>
			</label>
	      </li>
	  </ul>
      <button type="submit">Conferma orario</button>
    </form>
  </div>
</body>
</html>
