<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>ASRoma3 - Home</title>
	</head>
	<body>
		<h1>Benvenuto nel portale dell' ASRoma3</h1>
		
		<nav>
		       <a th:href="@{/login}">Login</a> <!-- puoi fare /login o /admin/login in base a come gestirai -->
		   </nav>

		   <h2>Associazioni disponibili</h2>
		   <ul>
		       <li th:each="associazione : ${associazioni}">
		           <a th:href="@{'/associazione/' + ${associazione.id} + '/sport'}"
		              th:text="${associazione.nome}"></a>
		       </li>
		   </ul>
	</body>
</html>