<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6"> <!-- Controlla se usi springsecurity5 o springsecurity6 -->



<head>
		<meta charset="UTF-8">
		<title>ASRoma3 - Home</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" th:href="@{/css/tema.css}" />
</head>
	<body>
		<div th:replace="~{fragments/navbar :: navbar}"></div>

		<h1>Benvenuto nel portale dell' ASRoma3</h1>
		<h2>Associazioni disponibili nella tua citta</h2>
		<ul>
		    <li th:each="associazione : ${associazioni}">
		        <a th:href="@{'/associazione/' + ${associazione.id}}"
		           th:text="${associazione.nome}"></a>
		    </li>
		</ul>
	</body>
</html>
